<section id="contact">
  <h2>Contact</h2>
  <p>If you’d like to get in touch, feel free to reach out through any of the channels below:</p>

  <div class="contact-links">
    <a href="mailto:lukas.hoermann@univie.ac.at" target="_blank">📧 Email</a>
    <a href="https://github.com/lukas-hoermann" target="_blank">💻 GitHub</a>
    <a href="https://orcid.org/0000-0003-4150-1592" target="_blank">🟢 ORCID</a>
    <a href="https://scholar.google.com/citations?user=y8Mm5WQAAAAJ&hl=en&oi=ao" target="_blank">📚 Google Scholar</a>
    <a href="https://www.linkedin.com/in/lukas-h%C3%B6rmann-04b761187" target="_blank">🔗 LinkedIn</a>
  </div>
</section>
