<section id="home">
  <div class="profile">
    <img src="images/2023_portrait.png" alt="Photo of Lukas Hörmann">
    <div>
      <h1>Lukas Hörmann</h1>
      <p>I am a researcher in computational physics and chemistry, working on adsorbate surface dynamics and energy dissipation via electron-phonon and phonon-phonon coupling. The tools of my trade are machine learning interatomic potentials, quantum-mechanical simulations, and non-equilibrium molecular dynamics.</p>
    </div>
  </div>
</section>

