<section id="projects">
  <h2>Projects</h2>
  <div class="projects-container">

    <div class="project">
      <h3>Structure and stability of defective 2D materials</h3>
      <img src="images/phase_diagram.svg" alt="Compostional phase diagram of nitrogen-doped graphene">
      <p>
        Developing equivariant neural network potentials trained on first-principles data to perform high-throughput simulations of 2D materials. A particular focus lies on topologically designed defective graphene.
      </p>
    </div>

    <div class="project">
      <h3>Ultra-fast energy exchange at surfaces</h3>
      <img src="images/energy_dissipation.svg" alt="Energy dissipation channels of CO on Cu-substrate geometries">
      <p>
        First-principles study of dynamic friction and electronic energy dissipation, 
        supported by a Marie Skłodowska-Curie Fellowship.
      </p>
    </div>
    
    <div class="project">
      <h3>Atomic-scale friction</h3>
      <img src="images/friction.png" alt="Energy dissipation channels of CO on Cu-substrate geometries">
      <p>
        Research atomic-scale frictional energy dissipation in collaboration with <a href="https://www.jayweymouth.com/" target="_blank">Jay Weymouth</a>.
      </p>
    </div>
    
    <div class="project">
      <h3>Surface structure prediction</h3>
      <img src="images/sample.jpg" alt="Schematic of building adsobate-surface structures with SAMPLE">
      <p>
        Development of the <a href="https://gitlab.tugraz.at/othgroup/sample" target="_blank">SAMPLE</a> structure prediction code. SAMPLE is the world's first quasi-deterministic structure prediction code for two-dimensional structures.
      </p>
    </div>

  </div>
</section>

