<section id="teaching">
  <div class="main-container">
    
    <h2>Teaching and Outreach</h2>
    
    <div class="projects-container">

      <div class="project">
        <h3>Data Science for Physicists</h3>
        <img src="images/phase_diagram.svg" alt="Compositional phase diagram of nitrogen-doped graphene">
        <p>
          Developing equivariant neural network potentials trained on first-principles data to perform high-throughput simulations of 2D materials. A particular focus lies on topologically designed defective graphene.
        </p>
      </div>

    </div>
  </div>
</section>